/*-------------------MENU-------------------*/

#top-nav li > .sub-menu{
	position: absolute;
	z-index: 3333333;
	display: block;
	width: 250px;
	background: #fff;
	top: 54px;
	display: none;
}

#top-nav li > .sub-menu li{
	width: 100%;
	padding: 0 12px;
	position: relative;
}

#top-nav li > .sub-menu li:hover{
	background: #ca0813;
}

#top-nav li > .sub-menu li:hover .sub-menu li{
	background: #fff;
}

#top-nav li > .sub-menu li:hover .sub-menu li a{
	color: #000;
}

#top-nav li > .sub-menu li a{
	display: block;
	overflow: hidden;
	margin: 0;
	font-size: 14px;
	border-bottom: 1px solid #ededed;
	padding: 2px 0;
}

#top-nav li > .sub-menu li:last-child a{
	border-bottom: none;
}

#top-nav li > .sub-menu li .sub-menu li a{
	border-bottom: 1px solid #ededed;
}

#top-nav li > .sub-menu li .sub-menu li:last-child a{
	border-bottom: 1px solid #ededed;
}

#top-nav li > .sub-menu li a:after{
	content: "\f105";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	position: absolute;
	right: 6px;
	top: 37%;
}

#top-nav li > .sub-menu li:hover a{
	color: #fff;
}

#top-nav li > .sub-menu li span{
	float: left;
	padding: 12px 0 0 0;
}

#top-nav li > .sub-menu li img{
	width: 100px;
	float: right;
	height: 45px;
}

#top-nav li > .sub-menu li > .sub-menu{
	top: 0px;
	left: 250px;
	border-left: 1px solid #ededed;
}

#top-nav li > .sub-menu li > .sub-menu li a{
	padding: 12px;
}

#top-nav li > .sub-menu li > .sub-menu li a:after{
	right: 10px;
}

#top-nav li > .sub-menu li > .sub-menu li a span{
	padding: 0;
}

#top-nav li > .sub-menu li > .sub-menu li:hover{
	background: #ca0813;
}

#top-nav li > .sub-menu li > .sub-menu li:hover a{
	color: #fff;
}

#top-nav li:hover .sub-menu{
	display: block;
}

#top-nav li:hover .sub-menu > li .sub-menu{
	display: none;
}

#top-nav li .sub-menu > li:hover .sub-menu{
	display: block;
}