body{
    background: #f2f6f7;
}

#lightSlider img{
	width: 100%;
}

.lSPrev, .lSNext, .lSPrev:hover, .lSNext:hover{
	color: #fff;
}

.lSPrev i, .lSNext i{
	font-size: 85px;
}

.prev_slogan{
	padding: 30px 0;
}

.prev_slogan_item{
	text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.sub_slogan_item{
    text-align: center;
    font-size: 16px;
    font-weight: 100;
}

.last_project{
	padding: 10px 0 30px 0;
}

.last_project h1{
	text-align: center;
    padding: 0 0 25px 0;
    font-weight: 100;
    font-size: 56px;
}

.row_project{
	overflow: hidden;
}

.row_project_item, .row_project_item_end{
	float: left;
	width: 25%;
}

.row_project_item a{
	background: url('../img/car1.jpg')no-repeat 0 0;
	min-height: 192px;
    width: 100%;
    display: block;
    background-size: 100%;
}
.row_project_item img{
	display: none;
}

.row_project_item_end{
	position: relative;
}

.row_project_item_end a{
	position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    display: block;
    top: 0;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    color: #007fce;
    font-size: 20px;
    padding: 20% 0 0 0;
}

.row_project_item_end a:hover{
    background: rgba(255, 255, 255, 0.4);
}

.row_project_item_end a i{
    font-size: 56px;
}

.new_product_front{
    padding: 10px 0 30px 0;
}

.new_product_front h1{
    text-align: center;
    padding: 0 0 25px 0;
    font-weight: 100;
    font-size: 56px;
}

.new_priduct_front_item{
    border: 1px solid #eaeaec;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #a1a7b3;
    box-shadow: 0px 0px 4px rgba(161, 167, 179, 0.21);
}

.new_priduct_front_item h6{
    font-size: 20px;
    color: #000;
    font-weight: 100;
    background: url(../img/logo.png)no-repeat right top;
    background-size: contain;
}

.new_priduct_front_item_body{
    padding: 0 15px;
}

.new_priduct_front_item ul{
    list-style-type: disc;
    font-size: 12px;
    font-weight: 100;
    position: relative;
    padding: 0 0 0 15px;
    height: 50px;
    margin: 0 0 15px 0;
    overflow: hidden;
}

.new_product_item_status{
    position: absolute;
    bottom: 0;
    right: 0;
}

.new_product_item_bottom{
    border-top: 1px solid #eaeaec;
    padding: 6px 0;    
}

.new_product_item_bottom_price{
    border: 1px solid rgba(0, 127, 206, 0.43);
    text-decoration: none;
    padding: 3px 6px;
    border-radius: 3px;
    color: #007fce;
    font-weight: 700;
    margin: 0 10px 0 0;
}

.new_product_item_bottom_price:hover{
    background: rgba(0, 127, 206, 0.30);
    text-decoration: none;
}

.new_product_item_bottom_key{
    border: 1px solid rgba(161, 168, 178, 0.5);
    text-decoration: none;
    padding: 3px 6px;
    border-radius: 3px;
    color: #a1a8b2;
    font-weight: 700;
    margin: 0 10px 0 0;
}

.new_product_item_bottom_key:hover{
    background: rgba(0, 127, 206, 0.30);
    text-decoration: none;
}

.new_product_item_bottom_key i{
    margin: 0 6px 0 0;
}

.new_product_item_bottom_right{
    float: right;
}

.new_product_item_bottom_share{
    color: #a1a8b2;
    margin: 0 6px 0 0;
}

.new_product_item_bottom_share:hover{
    color: #007fce;
    text-decoration: none;
}

.new_product_item_bottom_mem{
    color: #a1a8b2;
}

.new_product_item_bottom_mem:hover{
    color: #007fce;
    text-decoration: none;
}

.learn_more_new_products{
    text-align: center;
    padding: 40px 0 30px 0;
}

.learn_more_new_products a{
    font-size: 30px;
    font-weight: 100;
    color: #007fce;
}

.learn_more_new_products a:hover{
    text-decoration: none;
}

.learn_more_new_products a:hover i{
    opacity: 0.7;
}

.learn_more_new_products a i{
    font-size: 56px;
}